:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.centered {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.input-container {
	display: flex;
	flex-direction: row;
	gap: 1em;
	justify-content: space-between;
}

.results {
	background-color: lightgrey;
	border: 1px solid black;
	border-radius: 1em;
	text-align: center;
	padding: 1em;
}
